<article class="post">
  <div class="post-heading">
    <a href="/post/{{id}}"><span>{{title}}</span></a> by {{user.username}} on {{format_date created_at}}
  </div>
  <div class="post-content">
    {{contents}}
  </div>
</article>